<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Exercice2</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script src="assets/js/script.js"></script>
</head>
<body ng-app="myAlert">
  <form ng-controller="alertCtrl">
    <button type="button" name="button" ng-click="sentence(message)">Alert</button>
    <button type="button" name="button" ng-click="sentence(messageBye)">Message</button>
  </form>
</body>
</html>
